*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
}
header {
    background-color: #272C3D;
    padding: 30px;


}

header .container {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 50px;
}

nav ul li {
    font-size: 20px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
}




a:hover {
    color: #FF9C28;
}

input {
  background: #404864;
 width: 241px;
height: 30px;
border-radius: 5px;

}
select{
    background: #00000080;
     color: white;
     width: 165px;
height: 30px;


}
.hero {
    background-image: url(./img/Bg\ \(3\).png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

.hero2 {
    background-color: black;
    padding: 30px;
    text-align: center;
    color: white;
}

.ota {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.ota2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1B1E27;
}

section {
    background-color: #1B1E27;
    padding: 50px 0;

}

section h3 {
    text-align: center;
    font-size: 36px;
    color: white;
}

section .ota2 img {
    width: 400px;
    height: 234px;
    margin: 61px 6px 80px 245px;
}

p {
    color: white;
}

footer {
    background-color: #272C3D;
     padding: 30px;


}
footer .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav {
    display: flex;
    align-items: center;
    justify-content: right;

}